<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form id="reg-form">
    <input type="text" autocomplete="off" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>
  </form>
  <script>
    const form = document.getElementById('reg-form')
    form.addEventListener('submit', registerUser)
    async function registerUser(event) {
      // preventing any default action and letting js to handle it
      event.preventDefault()
      const username = document.getElementById("username").value
      const password = document.getElementById("password").value

      const result = await fetch('/local/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          username,
          password
        })
      })
        .then((res) => res.json())
      if (result.success === 'false') {
        // console.log('result is ', result)
        alert(result.message)
      } else {
        // console.log()
        window.location.href = "http://localhost:3000/user/dashboard"
      }

    }
  </script>
</body>

</html>